.servicesContainer {
    width: 100%;
    height: fit-content;
    color: white;
    padding:  0 25px;
    padding-bottom: 30px;
}
.services {
    width: 100%;
    height: fit-content;
    background-color: rgb(27, 27, 27);
    border-radius: 8px;
    padding: 20px 0;
}
.title {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
}
.title p:first-child {
    width: fit-content;
    color: var(--second-color);
    border: 1px solid var(--second-color);
    border-radius: 28px;
    padding: 7px;
}
.title h2 {
    font-size: 40px;
}
.title p:last-child {
    color: rgba(255, 255, 255, .8);
}
.content {
    margin-top: 20px;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.card {
    background-color: rgb(71, 71, 71);
    width: 400px;
    height: fit-content;
    border-radius: 8px;
    padding: 10px;
}
.cardHead {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.cardHead p {
    width: 40px;
    height: 40px;
    background-color:  var(--second-color);
    color: var(--black-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.cardBody {
    height: 40%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 10px;
    gap: 20px;
}
.cardBody h3 {
    font-size: 30px;
}
.cardBody p {
    font-size: 20px;
    color: rgba(255, 255, 255, .6);
}

@media(max-width: 1100px) {
    .content {
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }
    .card {
        width: 100%;
    }
}